uvicorn==0.24.0
fastapi==0.104.1
pyvirtualcam
opencv-python-headless==4.8.1.78
ultralytics==8.0.196
numpy==1.24.3
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
python-multipart==0.0.6
jinja2==3.1.2
pillow>=8.0.0